{% load static %}
{% load i18n %}

{% get_available_languages as LANGUAGES %}
{% get_current_language as LANGUAGE_CODE %}
{% get_language_info_list for LANGUAGES as languages %}

{% autoescape on %}
    <!DOCTYPE html>
    <html lang="{{ LANGUAGE_CODE }}">
        <head>
            <meta charset="utf-8">
            <meta http-equiv="X-UA-Compatible" content="IE=edge">
            <meta name="viewport" content="width=device-width, initial-scale=1">
            <title>Domain management</title>
            <link href="{% static "dist/css/tabler.min.css" %}" rel="stylesheet" />
            <link href="{% static "dist/tabler-icons/tabler-icons.min.css" %}" rel="stylesheet" />

            {% block head %}
            {% endblock head %}

        </head>
        <body>
            <script src="{% static "js/theme-setter.js" %}"></script>

            {% block body %}
            {% endblock body %}

            <script src="{% static "dist/js/tabler.min.js" %}"></script>
        </body>
    </html>
{% endautoescape %}
