<header class="navbar navbar-expand-md navbar-light">
    <div class="container-xl">
        <a class="navbar-brand" href="{% url "dns:zone-list" %}">Domain Management</a>

        <div class="d-s-flex d-md-none dropdown ms-auto me-2 nav-item">
            <a id="id_theme_dropdown_mobile"
               href="#"
               class="nav-link dropdown-toggle"
               data-bs-toggle="dropdown"
               role="button"
               aria-haspopup="true"
               aria-expanded="false">
                <i id="id_theme_icon_mobile" class="ti ti-sun-moon"></i>
            </a>
            <div class="dropdown-menu dropdown-menu-end"
                 data-bs-popper="none"
                 aria-labelledby="id_theme_dropdown_mobile">
                <a name="auto" class="dropdown-item" onclick="javascript:setTheme('auto');">Auto</a>
                <a name="light" class="dropdown-item" onclick="javascript:setTheme('light');">
                    Light <i class="ti ti-sun ms-2"></i>
                </a>
                <a name="dark" class="dropdown-item" onclick="javascript:setTheme('dark');">
                    Dark <i class="ti ti-moon ms-2"></i>
                </a>
            </div>
        </div>

        <button class="navbar-toggler"
                type="button"
                data-bs-toggle="collapse"
                data-bs-target="#navbar-menu">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="navbar-collapse collapse" id="navbar-menu">
            <div class="d-flex flex-column flex-md-row flex-fill align-items-stretch align-items-md-center">
                <ul class="navbar-nav">
                    <li class="nav-item {% if request.resolver_match.url_name == 'zone-list' %} active" aria-current="true{% endif %}">
                        <a href="{% url "dns:zone-list" %}" class="nav-link">Zones List</a>
                    </li>
                    <li class="nav-item {% if request.resolver_match.url_name == 'host-list' %} active" aria-current="true{% endif %}">
                        <a href="{% url "dns:host-list" %}" class="nav-link">Hosts List</a>
                    </li>
                    <li class="nav-item {% if request.resolver_match.url_name == 'record-list' %} active" aria-current="true{% endif %}">
                        <a href="{% url "dns:record-list" %}" class="nav-link">Records List</a>
                    </li>
                </ul>
            </div>

            <div class="nav-item navbar-nav order-last">
                <div class="nav-item dropdown">
                    <a id="id_theme_dropdown"
                       href="#"
                       class="nav-link dropdown-toggle"
                       data-bs-toggle="dropdown"
                       role="button"
                       aria-haspopup="true"
                       aria-expanded="false">
                        <i id="id_theme_icon" class="ti ti-sun-moon"></i>
                    </a>
                    <div class="dropdown-menu dropdown-menu-end"
                         data-bs-popper="none"
                         aria-labelledby="id_theme_dropdown">
                        <a name="auto" class="dropdown-item" onclick="javascript:setTheme('auto');">Auto</a>
                        <a name="light" class="dropdown-item" onclick="javascript:setTheme('light');">
                            Light <i class="ti ti-sun ms-2"></i>
                        </a>
                        <a name="dark" class="dropdown-item" onclick="javascript:setTheme('dark');">
                            Dark <i class="ti ti-moon ms-2"></i>
                        </a>
                    </div>
                </div>
                <div class="nav-item dropdown">
                    <a href="#"
                       class="nav-link"
                       data-bs-toggle="dropdown"
                       data-bs-autoclone="outside"
                       role="button"
                       aria-expanded="false">Account</a>
                    <div class="dropdown-menu dropdown-menu-end" data-bs-popper="none">
                        {% if user.is_staff %}
                            <a href="{% url "admin:index" %}" class="dropdown-item">Admin</a>
                            <div class="dropdown-divider"></div>
                        {% endif %}
                        <form id="logout-form" method="post" action="{% url "logout" %}">
                            {% csrf_token %}
                            <button class="dropdown-item" type="submit">Log out</button>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</header>
