{% extends "base/base.html" %}

{% load crispy_forms_tags %}

{% block body %}
    <br>
    <div class="page page-center">
        <div class="container container-tight py-5">
            {% if next %}
                {% if user.is_authenticated %}
                    <div class="alert alert-danger">
                        <h4 class="alert-title">Insufficient permissions.</h4>
                        <div class="text-muted">
                            Your account doesn't have access to this page. To proceed,
                            please login with an account that has access.
                        </div>
                    </div>
                {% else %}
                    <div class="alert alert-warning">
                        <h4 class="alert-title">Please login to see this page.</h4>
                    </div>
                {% endif %}
            {% endif %}

            <div class="card">
                <h1 class="card-header">Login</h1>
                <div class="card-body">{% crispy form form.helper %}</div>
                <div class="card-footer">
                    <input type="hidden" name="next" value="{{ next }}" />
                    {% if use_sso %}
                        <a class="btn btn-secondary w-100" href="{% url "social:begin" "oidc" %}">Volucra SSO</a>
                    {% endif %}
                </div>
            </div>
        </div>
    </div>
{% endblock body %}
