{% extends "generic/object_detail.html" %}

{% load utilities_humanization %}
{% load render_table from django_tables2 %}

{% block page-pretitle %}
    Host Detail
{% endblock page-pretitle %}

{% block object_buttons %}
    <a href="{% url "dns:host-edit" object.id %}" class="btn btn-warning">Edit</a>
    <a href="{% url "dns:host-delete" object.id %}" class="btn btn-danger">Delete</a>
{% endblock object_buttons %}

{% block specific_content %}
    <div class="card">
        <h3 class="card-header">Host information</h3>
        <div class="card-body">
            <div class="datagrid">
                <div class="datagrid-item">
                    <div class="datagrid-title">Active</div>
                    <div class="datagrid-content">{{ object.active | yesno }}</div>
                </div>
                <div class="datagrid-item">
                    <div class="datagrid-title">Parent Zone</div>
                    <div class="datagrid-content">
                        <a href="{% url "dns:zone-detail" object.parent_zone.id %}">{{ object.parent_zone }}</a>
                    </div>
                </div>
                <div class="datagrid-item">
                    <div class="datagrid-title">Default TTL</div>
                    <div class="datagrid-content">{{ object.parent_zone.default_ttl | humanize_seconds }}</div>
                </div>
            </div>
        </div>
    </div>

    {% if object.comment %}
        <div class="card mt-4">
            <div class="card-header">
                <h3 class="card-title">
                    <strong>Comment</strong>
                </h3>
            </div>
            <div class="card-body">{{ object.comment }}</div>
        </div>
    {% endif %}

    {% with id_filter_modal="id_filter_modal" %}
        <div class="card mt-4">
            <div class="card-header">
                <h3 class="card-title">
                    <strong>Records</strong>
                </h3>
                <div class="card-actions">
                    {% include "tables/filter_button.html" %}
                    <a href="{% url "dns:record-create" %}?host={{ object.id }}"
                       class="btn btn-success">
                        <i class="ti ti-plus me-2"></i>
                        Create new Record
                    </a>
                </div>
            </div>
            {% include "tables/table_inline.html" with table=record_table %}
        </div>
    {% endwith %}
{% endblock specific_content %}
