{% extends "generic/object_list.html" %}

{% block createbutton %}
    <a href="{% url "dns:host-create" %}" class="btn btn-success">
        <i class="ti ti-plus me-2"></i>
        Create new Host
    </a>
{% endblock createbutton %}

{% block page-title %}
    Hosts
{% endblock page-title %}
