{% extends "generic/object_list.html" %}

{% block createbutton %}
    <a href="{% url "dns:record-create" %}" class="btn btn-success">
        <i class="ti ti-plus me-2"></i>
        Create new Record
    </a>
{% endblock createbutton %}

{% block page-title %}
    Records
{% endblock page-title %}
