{% extends "generic/object_list.html" %}

{% block createbutton %}
    <a href="{% url "dns:zone-create" %}" class="btn btn-success">
        <i class="ti ti-plus me-2"></i>
        Create new Zone
    </a>
{% endblock createbutton %}

{% block page-title %}
    Zones
{% endblock page-title %}
