{% extends "generic/object_detail.html" %}

{% load utilities_humanization %}
{% load render_table from django_tables2 %}

{% block page-pretitle %}
    Zone Detail
{% endblock page-pretitle %}

{% block object_buttons %}
    <a href="{% url "dns:zone-edit" object.id %}" class="btn btn-warning">Edit</a>
    <a href="{% url "dns:zone-delete" object.id %}" class="btn btn-danger">Delete</a>
{% endblock object_buttons %}

{% block specific_content %}
    <div class="card">
        <div class="card-header">
            <h3 class="card-title">
                <strong>Zone information</strong>
            </h3>
        </div>
        <div class="card-body">
            <div class="datagrid">
                <div class="datagrid-item">
                    <div class="datagrid-title">Parent zone</div>
                    <div class="datagrid-content">
                        {% if object.parent_zone %}
                            <a href="{% url "dns:zone-detail" object.parent_zone.id %}">{{ object.parent_zone }}</a>
                        {% else %}
                            <span class="text-muted">None</span>
                        {% endif %}
                    </div>
                </div>
                <div class="datagrid-item">
                    <div class="datagrid-title">Default TTL</div>
                    <div class="datagrid-content">{{ object.default_ttl | humanize_seconds }}</div>
                </div>
                <div class="datagrid-item">
                    <div class="datagrid-title">FQDN of primary Nameserver</div>
                    <div class="datagrid-content">{{ object.soa_mname }}</div>
                </div>
                <div class="datagrid-item">
                    <div class="datagrid-title">Mail contact</div>
                    <div class="datagrid-content">{{ object.soa_rname }}</div>
                </div>
                <div class="datagrid-item">
                    <div class="datagrid-title">Refresh</div>
                    <div class="datagrid-content">{{ object.soa_refresh | humanize_seconds }}</div>
                </div>
                <div class="datagrid-item">
                    <div class="datagrid-title">Retry</div>
                    <div class="datagrid-content">{{ object.soa_retry | humanize_seconds }}</div>
                </div>
                <div class="datagrid-item">
                    <div class="datagrid-title">Expire</div>
                    <div class="datagrid-content">{{ object.soa_expire | humanize_seconds }}</div>
                </div>
                <div class="datagrid-item">
                    <div class="datagrid-title">Negative TTL</div>
                    <div class="datagrid-content">{{ object.soa_negative_ttl | humanize_seconds }}</div>
                </div>
            </div>
        </div>
    </div>

    {% if object.comment %}
        <div class="card mt-4">
            <div class="card-header">
                <h3 class="card-title">
                    <strong>Comment</strong>
                </h3>
            </div>
            <div class="card-body">{{ object.comment }}</div>
        </div>
    {% endif %}

    {% with id_filter_modal="id_filter_zones" filter=childzones_filter %}
        <div class="card mt-4">
            <div class="card-header">
                <h3 class="card-title">
                    <strong>Child Zones</strong>
                </h3>
                <div class="card-actions">
                    {% include "tables/filter_button.html" %}
                    <a href="{% url "dns:zone-create" %}?parent_zone={{ object.id }}"
                       class="btn btn-success">
                        <i class="ti ti-plus me-2"></i>
                        Create new Zone
                    </a>
                </div>
            </div>
            {% include "tables/table_inline.html" with table=childzones_table %}
        </div>
    {% endwith %}

    {% with id_filter_modal="id_filter_hosts" filter=hosts_filter %}
        <div class="card mt-4">
            <div class="card-header">
                <h3 class="card-title">
                    <strong>Hosts</strong>
                </h3>
                <div class="card-actions">
                    {% include "tables/filter_button.html" %}
                    <a href="{% url "dns:host-create" %}?parent_zone={{ object.id }}"
                       class="btn btn-success">
                        <i class="ti ti-plus me-2"></i>
                        Create new Host
                    </a>
                </div>
            </div>
            {% include "tables/table_inline.html" with table=hosts_table %}
        </div>
    {% endwith %}
{% endblock specific_content %}
